[2015-01-04 12:57] mathrick opened #1 "Firefox version?"
Any chance of having it ported to Firefox?

[2015-01-04 12:58] asurak commented on #1
Working on it ;)

[2015-01-04 13:00] mathrick commented on #1
Awesome, thanks!

[2015-01-04 13:00] redox commented on #1
Should be reviewed by Mozilla's team in the next few days :)

[2015-01-17 10:11] seafoox commented on #1
Hi @mathrick,
The extension is now available https://addons.mozilla.org/fr/firefox/addon/github-awesome-autocomplete/
Feel free to give a try and share your feedbacks in a new thread.

Enjoy!

[2015-01-17 10:11] #1 closed

[2015-01-20 15:09] redox opened #2 "Before I type anything, the autocompletion-menu could display "last/some" events/projects"
Triggering the auto-completion menu display on `focus` feeding it with:
 - last commits ?
 - last projects ?
 - popular projects ?

Interesting idea, thank you @nazar-pc :)

[2015-01-20 15:16] redox opened #3 "Safari port?"
Need to check how that could be done; hopefully easier than Firefox :)

[2015-01-20 15:43] redox opened #4 "Per-organization search"
Typing the name of the organization followed by "TAB" could restrict the search the specific organization. Something like
![screen shot 2015-01-20 at 16 42 57](https://cloud.githubusercontent.com/assets/29529/5820175/6b09dba6-a0c3-11e4-8daa-70efd6da005c.png)

Thank you @Kikobeats

[2015-01-20 21:04] redox opened #5 "Change the label "This repository" in the search bar"
Since it searches in more than the current repository we should make the label clearer without loosing the feature.

[2015-01-20 21:19] redox opened #6 "Make it work on 404 pages as well"
Plug the search on 404 pages (like https://github.com/IonicaBizau/I-love-GitHub/commits) as well.

[2015-01-21 10:09] davidosomething opened #7 "feature: search This repository in a specific branch"
the "This repository" default search always searches through master
adding a "branch:bug-111 SomeFunctionName" would be useful

[2015-01-21 10:10] davidosomething opened #8 "feature: search user's repos by language"
in a user's repositories tab, there's a search field
add a filter by primary programming language used option

[2015-01-21 12:17] redox opened #9 "Search in my starred repositories only"

[2015-01-21 12:57] rimenes opened #10 "Encoding problems"
Some characters in the search result appear as mojibakes

![mojibake](https://www.evernote.com/shard/s31/sh/756b6dd1-ae84-428a-8526-be3442dbbe50/81804192d80cb10d59d05881be5b0b2b/res/5bb4c527-f3dc-48ac-b6bd-c9676a3367df/skitch.png?resizeSmall&width=832)

[2015-01-21 13:12] lichunqiang commented on #10
I just want report this :+1:

[2015-01-21 13:40] redox opened #11 "Index the source tree"
In order to quickly jump to a specific directory of a project.

[2015-01-21 13:44] redox commented on #10
Hey @rimenes & @lichunqiang,

thank you very much for reporting us that. That's actually an issue of the underlying database I'm using to index the data. I've reported it to Githubarchive: https://github.com/igrigorik/githubarchive.org/issues/60 but if I'm right, the existing data can not really be fixed :/

I'm keeping this one open, maybe we'll end up having our own database.

[2015-01-21 13:46] quartzjer commented on #11
:+1:

[2015-01-21 15:47] redox opened #12 "After I install the extension, please let me know what I need to do"

[2015-01-21 16:11] redox opened #13 "Crash on FF nightly with process isolation+e10s"

[2015-01-21 17:28] redox opened #14 "Autocompletion menu improvements"
- try to reduce the flickering while typing
 - make the whole cells either non-clickable or at least "cursor: pointer" to understand it's clickable (right now, only the `owner/repository` has the pointer cursor)

[2015-01-22 02:17] sorrycc opened #15 "Encode problem with chinese description"
![image](https://cloud.githubusercontent.com/assets/35128/5849360/ce041dd6-a21f-11e4-9674-fa017727c52f.png)

[2015-01-22 04:16] EdgeCaseBerg opened #16 "Documentation on the issues enhancement?"
The README says:

    This extension replaces GitHub's search bar and add auto-completion (instant-search & suggestion)
    capabilities on:
    ...
    - your issues (only available if you choose to "Connect with GitHub")

But after clicking the magnifying glass and allowing algolia via oauth, I didn't see any change on issue's page search boxes or anything like that. Is there something more to h

[2015-01-22 05:43] redox commented on #15
Hey @sorrycc, thank you for reporting us that. It's actually a bug in the underlying database we're using to feed the the Algolia index :/ I'll close this one since it's a duplicate of https://github.com/algolia/github-awesome-autocomplete/issues/10

[2015-01-22 05:43] #15 closed

[2015-01-22 06:02] redox commented on #16
Hi @EdgeCaseBerg, oh yes you should :/ I think I found the issue -> the GitHub API was returning a non-handled error if I tried to access a disabled project (your GamerGateOP fork). Can you retry now and let me know if it's working?

[2015-01-22 07:11] redox opened #17 "More infos from api.github.com?"
https://developer.github.com/v3/issues/#list-issues
https://developer.github.com/v3/search/#search-code

[2015-01-22 14:52] EdgeCaseBerg commented on #16
It's working now! Very cool!

[2015-01-22 14:52] #16 closed

[2015-01-22 18:06] jeroenvisser101 opened #19 "Automenu doesn't work as it normally would (twitching)"
Hi there,

Kudo's for the extension, really like it. It seems however that since the latest update, the autocomplete menu twitches a bit. I've tried to capture that in the screencast below.

![](https://www.dropbox.com/s/753ou7q4csf6w8t/autocomplete-bug.gif?dl=1)

Please let me know if I can help!

[2015-01-22 18:07] redox commented on #19
Hey @jeroenvisser101,

yes it definitely helps, thank you for the report. I'll work on it during the next days.

[2015-01-22 18:08] jeroenvisser101 commented on #19
Cool! Amazingly fast, appreciate it!

[2015-01-22 18:09] redox commented on #19
And from the airport btw :smile: :airplane:

[2015-01-22 18:13] jeroenvisser101 commented on #19
Ha! Have a good flight (if you are going to fly, that is) :smile:

[2015-01-26 08:43] redox opened #20 "Missing repository"
"indragiek/CocoaMarkdown" is missing from the "top repositories" even if it has +400 stars.

[2015-02-05 16:01] ozlerhakan opened #21 ".icon-delete style visibility"
Hi,
In Chrome, when I hover the search area as described in the below image, the cursor changes to a hand on the specific area. Perhaps, the .icon-delete style [on line 225](https://github.com/algolia/github-awesome-autocomplete/blob/c6d5ae6addeb1718330d8270e1ccb67a555f01f7/code/css/content.css#L225) needs as well the visibility property as 'hidden' and also this property must be 'visible' alongsi

[2015-02-05 16:17] Shipow commented on #21
Thank your for reporting us that!

[2015-02-05 16:28] ozlerhakan commented on #21
You're welcome!

[2015-02-10 23:03] #6 closed

[2015-02-10 23:08] #21 closed

[2015-02-10 23:29] #19 closed

[2015-02-10 23:38] #14 closed

[2015-02-11 09:47] jeroenvisser101 commented on #19
Very nice, thanks!

[2015-03-26 08:18] janmeier commented on #11
+1

[2015-05-14 09:06] jeroenvisser101 opened #22 "Broken layout search field"
Currently, it seems that Algolia's plugin breaks the layout of the search field.

![](https://www.dropbox.com/s/7sw6rbowviiink2/Screenshot%202015-05-14%2011.05.04.png?dl=1)

[2015-05-14 09:08] redox commented on #22
Arg, good catch! Recent regressions :/

[2015-05-14 09:11] jeroenvisser101 commented on #22
Yeah, seems like removing `display: inline-block` from the inline style for element `.twitter-typeahead` fixes this.

[2015-05-14 09:13] jeroenvisser101 commented on #22
See [this line](https://github.com/algolia/github-awesome-autocomplete/blob/master/code/js/libs/typeahead.bundle.js#L741)

[2015-05-14 09:21] redox commented on #22
Yeah, it will not be enough; the expected behavior is then that the dropdown menu takes the whole input width.

[2015-05-14 09:23] jeroenvisser101 commented on #22
Ouch, than that might turn out to be a bit more work...

[2015-05-14 09:25] jeroenvisser101 commented on #22
Btw, this does not happen with search fields that are missing the tag 'This repository'

[2015-05-14 09:28] redox commented on #22
Yep, I'm currently re-reading the code and cannot understand how it could have worked before :+1:

[2015-05-14 09:37] #22 closed

[2015-05-14 09:37] redox commented on #22
Should be better like that; now release time :p

[2015-05-14 09:38] jeroenvisser101 commented on #22
Hah, nice, thanks for the super quick fix!

[2015-05-14 09:43] redox commented on #22
You're welcome @jeroenvisser101, thanks for the bug report & investigation.

"Your item is in the process of being published and may take up to 60 minutes to appear in the Chrome Web Store."

[2015-05-14 10:12] jeroenvisser101 commented on #22
@redox update is in, it now work way better! However, it still adds like 2px under the label after the extension loaded, but that's okay for now :+1:

[2015-05-15 10:25] dhamaniasad opened #23 "Stacking input below scope-badge"
It seems like this plugin is causing the input on the search field to stack below the scope-badge. This is what it looks like:

![](http://i.imgur.com/1pRzy7F.png)

I've tried disabling all my plugins but GitHub Awesome Autocomplete, and I am certain this plugin is causing it.

It seems like [this](https://github.com/algolia/github-awesome-autocomplete/blob/9582c282ff285be95e4af1cba89312cf0fe5468c

[2015-05-15 19:27] redox commented on #23
Hi @dhamaniasad, this issue has been reported yesterday (https://github.com/algolia/github-awesome-autocomplete/issues/22) and has been fixed in 1.1.3 -> it's already released on Chrome but not yet reviewed on Firefox. Are you using Firefox?

[2015-05-15 19:32] dhamaniasad commented on #23
@redox I just updated the extension to 1.1.3 on Chrome, and the issue seems to have resolved, apart from the extra 2px on the bottom as mentioned on #22. Thanks for the quick fix for this issue :).

[2015-05-15 19:32] #23 closed

[2015-05-15 19:33] redox commented on #23
Alright, good news :)

[2015-06-25 17:29] rsweetland commented on #11
+1 This is the main reason I installed this – hoping to quickly jump to files

[2015-08-28 16:40] nesl247 commented on #3
Would be interested in this as well.

[2015-09-17 18:16] vinkla opened #26 "Add Retina Support"
The cross icon in the search isn't retina ready yet.

[2016-02-10 02:22] Jerskouille opened #28 "FireFox display issues"
I have two display issues on Firefox.

1. The searchbar is not displaying as expected :
    ![SearchBox](https://cloud.githubusercontent.com/assets/5095856/12937085/3e3c45de-cfa5-11e5-8916-30067e5e7888.PNG)
2. The heart of "With :heart: from Algolia" doesn't display :
    ![With :heart:](https://cloud.githubusercontent.com/assets/5095856/12937084/3e372392-cfa5-11e5-87b2-4f1e4979e226.PNG)

[2016-02-10 07:51] redox commented on #20
Fixed with the new crawling mechanism released 2016/1/1 \o/

[2016-02-10 07:51] #20 closed

[2016-02-10 07:52] redox commented on #3
Done \o/

[2016-02-10 07:52] #3 closed

[2016-02-10 07:52] redox commented on #13
Closing it for now, please reopen if someone can reproduce it.

[2016-02-10 07:52] #13 closed

[2016-02-10 07:54] redox commented on #10
So we now use the new GitHubArchive tables which should help fixing those encoding issues (should be fixed for every single activity after 2015/1/1).

[2016-02-10 07:54] #10 closed

[2016-02-10 11:40] rimenes commented on #10
Awesome

[2016-02-10 15:45] ashfurrow commented on #3
:tada:

[2016-02-10 16:13] redox commented on #3
Does it work as expected @ashfurrow? I tried to submit it to the official Safari Extension directory but encounter a few issues :/ Quick fix was to provide you guys the `.safariextz` file :/

[2016-02-10 16:26] ashfurrow commented on #3
Yeah, it worked no problem! When I opened the `.sarafiextz` it asked me if I wanted to trust the source of it, but that was all.

[2016-02-10 16:27] ashfurrow commented on #3
Thanks a lot for working on it! I subscribed to this issue ages ago and had forgotten about it until I got the notification this morning. Excellent work!

[2016-02-10 16:33] redox commented on #3
Awesome @ashfurrow; thank you for the follow up :) Btw, we've updated the underlying index and we've now the whole directory of users + most recent projects \o/

[2016-02-15 13:05] danmana opened #29 "Star and heart icons are missing on Chrome"
The star and heart icons do not show up on Chrome (version 48.0.2564.109 m).

I noticed that in my case the other github icons on the page (that work) are implemented as svg, not using the octicon icon font ...

![missing-icons](https://cloud.githubusercontent.com/assets/498419/13049423/7894fbd2-d3f5-11e5-9719-44084ef1b041.png)

[2016-02-15 13:07] Shipow commented on #29
ha! Good catch, we'll fix that.
Thanks for the report (very) much appreciated.

[2016-02-17 15:52] seafoox opened #30 "Update the API client version"
For now the extension is using an old version of the JS API client. That one doesn't include the DSN logic required in case of DNS issue.

`var ALGOLIA_VERSION = '2.8.5';`

[2016-02-17 15:58] redox commented on #30
Yes we should move to 3.0; I'm just a bit afraid of the Firefox validation -> last time they read all the code and I manually needed to remove the JSONP-related snippet of code for security reason.

[2016-02-17 15:59] redox commented on #30
See https://github.com/algolia/github-awesome-autocomplete/blob/master/code/js/libs/algoliasearch.js#L627-L636

[2016-02-19 23:17] #29 closed

[2016-02-19 23:40] #26 closed

[2016-02-19 23:59] #28 closed

[2016-02-19 23:59] #5 closed

[2016-02-20 00:00] redox commented on #7
Closing this issue for now since we won't manage to index the source code in the near future.

[2016-02-20 00:00] #7 closed

[2016-02-20 09:49] vinkla commented on #26
@redox :+1:

[2016-02-24 16:41] danmana commented on #29
Works great now. Thanks for the fix :)

[2016-02-24 17:23] redox commented on #29
Thanks for following up @danmana :100:

[2016-03-08 22:35] jamiewilson opened #31 "Discrepancy between number of stars"
I noticed that there's always a difference between the number of stars a repo has in the search results and the number of stars displayed on the repo itself. I'm guessing that the results don't reflect Unstars or something like that, cause it's always more than the actual count.

![stars-discrepancy](https://cloud.githubusercontent.com/assets/3308673/13618789/b07f73da-e54b-11e5-878d-766f73925d6d.p

[2016-03-08 22:56] redox commented on #31
@jamiewilson you're right, we don't collect Unstars for now; not sure that explains it all because the diff seems pretty high :/ Need to dig more into githubarchives.org data to confirm.

[2016-03-08 23:08] jamiewilson commented on #31
Cool. For now though, I'll just assume that the search results number is the correct one. It gave some of my projects a pretty nice bump :)

[2016-03-08 23:13] redox commented on #31
@jamiewilson ahah indeed :) We use the number of stars for relevance purpose, so it's not a big deal if the values are not super up-to-date but better if we can ensure we don't have too much difference.

[2016-03-17 10:11] hkdobrev opened #32 "The search bar breaks in two lines when in a repository"
Since today the GitHub search bar is breaking down in two lines when inside of a repository. Disabling this extension removes the problem. I guess GitHub changed something.

![screen shot 2016-03-17 at 12 10 54](https://cloud.githubusercontent.com/assets/506129/13842909/5483e5da-ec39-11e5-9509-ba50bfedbcd7.png)

[2016-03-17 10:21] LukyVj commented on #32
Thanks, a fix is on it's way.

[2016-03-17 12:58] #32 closed

[2016-03-23 15:24] charlesmilette opened #34 "[Suggestion] Dark theme"
[StylishThemes/GitHub-Dark](https://github.com/StylishThemes/GitHub-Dark) is a CSS style for theming GitHub to dark.

The addon doesn't gives well combined with the style:
![capture](https://cloud.githubusercontent.com/assets/6440374/13990137/a00da374-f0e9-11e5-9f7d-21b930aad646.PNG)
Any possibility to add a dark theme?

[2016-03-23 15:30] redox commented on #34
Definitely :) Not sure if the best wouldn't be to submit a PR on [StylishThemes/GitHub-Dark](https://github.com/StylishThemes/GitHub-Dark) ?

@silverwind @Mottie what do you guys think?

[2016-03-23 15:41] silverwind commented on #34
We already support a bunch of GitHub extensions in the theme, so I guess another one wouldn't hurt. If you feel up to it please submit a PR, otherwise please open an issue and we'll get to it eventually.

[2016-03-23 15:45] redox commented on #34
Awesome @silverwind :+1: I'll definitely do that!

[2016-03-23 15:46] charlesmilette commented on #34
Opened a issue on the theme repo:
https://github.com/StylishThemes/GitHub-Dark/issues/298

[2016-03-24 01:31] rayrutjes opened #37 "Disable or adjust dropdown size on GH corporate pages"
On page like https://github.com/personal the extension is not very easy to use.

We could maybe make the dropdown larger, what do you think?

![image](https://cloud.githubusercontent.com/assets/5570853/14005906/28a2aff8-f168-11e5-9e20-ebcfe8db7d58.png)

[2016-03-24 01:38] rayrutjes opened #38 "Does not work after having filtered on a language"
When on a repository search page, if we filter by language, the search is reloaded asynchronously which breaks the bindings.

Maybe we could delegate the binding to a higher level in the dom tree?

![image](https://cloud.githubusercontent.com/assets/5570853/14006025/26984e74-f169-11e5-8894-1af8b849323c.png)

[2016-03-24 16:37] rayrutjes opened #39 "No border on search input on Firefox"
The following statement seems to be the source of the trouble: https://github.com/algolia/github-awesome-autocomplete/blob/0017ca44361ca47c83a8b41ef3478fd1fe32c8ca/code/scss/content.sass#L70-L71

StylishThemes/GitHub-Dark#302

[2016-03-24 16:46] LukyVj commented on #39
Hi @rayrutjes thanks for pointing this out!
We'll investigate!

[2016-03-24 16:46] redox commented on #39
And thank you so much for https://github.com/StylishThemes/GitHub-Dark/pull/302 :+1:

[2016-03-24 16:55] rayrutjes commented on #39
My pleasure @redox .
Can you guys tell me what these statements target, are they still useful?
[code]

[2016-03-24 16:58] LukyVj commented on #39
@rayrutjes I don't think so, AFAIK the `#search_form` id was replaced by `#js-site-search-form`

[2016-03-24 17:01] rayrutjes commented on #39
@LukyVj That is what I thought. Thx.

[2016-03-24 17:03] rayrutjes commented on #39
Do you want me to make a PR for this one? Or already working on it?

[2016-03-24 17:04] LukyVj commented on #39
If you already got the solution in your hand, I'd say go for a PR :)
cc @redox

[2016-03-24 17:08] rayrutjes commented on #39
Actually I got to go, but if no one tackles this, I'll do it tonight.

[2016-03-24 19:10] Mottie opened #40 "Star count discrepancy"
The result shown in the autocomplete dropdown has a star count that doesn't match the actual repository star count.

![awesome-autocomplete](https://cloud.githubusercontent.com/assets/136959/14028341/06507180-f1ca-11e5-9a47-2d94c8468d3e.png)

The screenshot shows github-awesome-autocomplete having 375 stars, while the "Unstar" button is showing 281.

[2016-03-24 19:32] rayrutjes commented on #40
This is weird, here is a hit resulting from a query:
[code]

You are actually using the `watcher` value, which also is not accurate.
I think there might be a problem in the algolia robot parsing github?
`Stars` always equals 4, am I missing something?

[2016-03-24 19:45] Mottie commented on #40
If I use GitHub's API: https://api.github.com/search/repositories?q=github-awesome-autocomplete

The count is correct:

[code]

[2016-03-24 20:20] #39 closed

[2016-03-24 20:25] redox commented on #38
Hmmm, good catch :/

But what should we do since we don't have the data to provide a faceted search based on the language :/ Breaking the binding is now good, but I'm wondering if we want to show the dropdown menu to the user once he selected a language :/

[2016-03-24 20:32] rayrutjes commented on #38
You are right. I think breaking the binding makes sense actually as we do not have language as facet. Feel free to close.

[2016-03-24 20:36] #37 closed

[2016-03-24 20:40] redox commented on #40
Yeah it's related to https://github.com/algolia/github-awesome-autocomplete/issues/31 -> the way we're importing the data (from https://www.githubarchive.org/) month over month don't take into account the "unstars/unwatch". Unfortunately, we cannot call the GitHub API to fix it, it's way too much restricted in terms of API calls/day.

Not yet sure what we could do to improve it.

I'm closing it in

[2016-03-24 20:40] #40 closed

[2016-03-24 21:12] #34 closed

[2016-03-24 21:17] rayrutjes commented on #34
Enjoy!

[2016-03-24 21:59] redox commented on #34
Thank you @rayrutjes :+1:

[2016-04-11 16:03] shwetank opened #42 "Adding it to the Opera addons site"
Opera supports the chrome extensions model, and you can even submit extensions in .crx format ... It would be great if you could submit it to the [Opera addons site](https://addons.opera.com) so that Opera users also have have a way to install it.

Cheers,

[2016-04-11 20:42] redox commented on #42
Oh, I didn't know that. I'll give it a try in the next few days then :)

[2016-04-25 16:37] shwetank commented on #42
Just checking if you need any help in the submission process to the opera addons site.

(I'm PM of extensions in Opera, and would be excited to have this extension featured in the opera addons site). :)

[2016-04-25 18:10] redox commented on #42
Oh yeah, I would love help + happy to merge a PR; didn't take the time to tackle it yet. Dev setup should be straight forward but just let me know if there is anything I can help you with!

[2016-05-18 14:15] ushuz opened #43 "Deleted repos still appears in "Your Repositories" section"
![image](https://cloud.githubusercontent.com/assets/1430856/15361855/d8afdc14-1d45-11e6-93ff-3da5eaf4eb46.png)

The repo in picture was removed two days ago, but it still appears in search results.

[2016-05-18 14:22] redox commented on #43
Thank you for reporting that. I need to re-work a bit the way we index own repositories to fix those synchronization issue.

[2016-05-31 15:45] drewda opened #44 "autocomplete in Firefox search/awesome bar?"
I have GitHub set up as a search engine in the Firefox "awesome bar" with a prefix of `gh`:

![monosnap 2016-05-31 08-45-05](https://cloud.githubusercontent.com/assets/212369/15680853/ff63f172-270b-11e6-8579-8b997f5dc52d.png)

Would it be possible to use this add-on to autocomplete as I type there?

[2016-06-01 07:11] redox commented on #44
I don't know the Firefox address bar API enough but it seems to be somehow possible to hook into it to add suggestions (see what https://github.com/estivo/Instantfox does).

Any pull-request is very welcome and I would love to assist you 👍

[2016-06-14 22:52] ogirginc opened #45 "Doesn't work on Safari"
Tried by disabling all other extensions but didn't help (works as expected on Chrome).

- Safari 9.1.1
- Mac OS X 10.11.5

[2016-06-15 08:12] redox commented on #45
Arg :/ I'll check what I can do, seems a recent regression.

[2016-06-20 11:38] ogirginc commented on #45
Just found out; it works on Safari, if I use [https://github.com/search](https://github.com/search) to search.

[2016-06-20 11:43] redox commented on #45
Alright, so it might only be a CSS selector issue. I'll try to check tonight.

[2016-06-20 11:48] ogirginc commented on #45
If it does help, Safari's console gave me this error:

Refused to execute inline script because it violates the following Content Security Policy directive: "script-src assets-cdn.github.com". (search, line 0)

[code]

[2016-06-28 10:25] AndrWang opened #46 "Search error"
Search out project stars wrong

[2016-06-28 11:04] rayrutjes commented on #46
Closing this one in favor of #31.
Also see #40.

[2016-06-28 11:04] #46 closed

[2016-06-30 06:41] JohJakob opened #47 "GitHub Awesome Autocomplete only works on search page"
In Safari 9 and 10 on OS X El Capitan, the extension only works in the search field on GitHub's search page (the search field is positioned in the main area and not in the top bar). When the search field is in the top bar, the extension's suggestion box is not shown.

[2016-06-30 14:20] redox commented on #47
Hi @JohJakob, thank you for your help invetigating. It looks like this is #45. Definitely something I need to work on but didn't have the time yet :/

[2016-06-30 14:20] #47 closed

[2016-07-07 13:02] phyllisstein commented on #45
I was having the same issue, and discovered something interesting in the course of troubleshooting it: `HEAD` is at version 1.2.6, but the download links in the README and on the website all point to version 1.2.0. The direct-from-source build works great for me.

[2016-07-11 07:52] #45 closed

[2016-07-11 07:57] redox commented on #45
Good catch @phyllisstein; and I now remember I couldn't package the Safari extension since a while because of a bug in Safari 9.1 (cannot find the support forum explaining it right now, but it couldn't find the Safari Developer profile).

This is now fixed and you can download it from https://github.algolia.com/github-awesome-autocomplete.safariextz

[2016-07-11 13:53] nickjer opened #48 "doesn't refresh repositories"
If I add a new public or private repository it doesn't show up in the search.

If I click

![image](https://cloud.githubusercontent.com/assets/4260509/16732787/d1ba1998-474c-11e6-8437-74f80246a007.png)

the button does not seem clickable (it behaves like a static image, i.e., doesn't pop in when click and pop out after click). Button animation aside, even if I click the button it doesn't refresh t

[2016-07-11 15:07] redox commented on #48
Thanks for reporting us that @nickjer. I didn't use the refresh button since a while, I'll give it a try to see if we have a regression.

[2016-07-11 23:22] Mottie commented on #43
It's not just *own* repositories... If you search for "codepen", the no-longer-existing "CodePen/CodePen" repo is listed

![2016-07-11 18_19_38-codepen](https://cloud.githubusercontent.com/assets/136959/16750052/5f62aa7a-4794-11e6-8f72-c32ef07c3a10.png)

[2016-08-25 12:52] stuart-lang opened #49 "Support GitHub Enterprise"
Love this extension!
Would it be feasible to have an offering that indexes a GitHub Enterprise instance instead of github.com?

[2016-08-25 12:55] redox commented on #49
Oh yeah sure 👍  The easiest is probably to create your Algolia account with your private content (building a small script calling the GitHub API with your account and sending everything to Algolia) and then forking that extension to update the underlying credentials.

Would that work for you? I'm happy to help make that happen, just email sylvain at algolia :)

[2016-08-26 08:49] stuart-lang commented on #49
Thanks, that's what I was expecting the process to be, wasn't sure if you had the code that calls the GitHub API and sends it to Algolia around somewhere. I'm probably going to hack something together next month, I plan on also adding file names and extracting type declarations from code.

[2016-08-26 09:16] redox commented on #49
Awesome, let me know how that goes then :)

I'll close this issue in the meantime 👍

[2016-08-26 09:16] #49 closed

[2016-10-28 02:09] tlvenn commented on #9
Hi @redox, this is my main driver for using / exploring algolia github autocomplete. I have a lot of starred projects and it usually take me sometime to find back a given one.

I am kinda hoping I could simply filter the search with my starred projects and that the search could operate on the project name, description and even on the README.MD if any.

Right now it's not so clear which fields are

[2016-10-28 02:11] tlvenn commented on #12
Seems like a good idea, I am struggling to understand where I am supposed to `connect with github` ? There is no such action from the plugin interface.

[2016-11-02 07:38] redox commented on #9
That makes a lot of sense @tlvenn; we need to schedule a v2 version of this extension where we could include all those improvements. I'll a little short on time those days, I'll try to give it a try just after.

[2016-11-02 07:38] redox commented on #12
yes, definitely something we need to improve. Thank you for your inputs @tlvenn !

[2016-11-18 17:19] CBaptiste commented on #17
👍

[2017-01-02 12:40] zaininfo commented on #48
I can confirm that around the time this issue was reported, there was a workaround involving removing & adding back the extension.
But, that workaround seems to have stopped working too.

@redox could you please, provide an update on this, if any.

[2017-01-02 12:58] redox commented on #48
Didn't take the time to work on it so far. I'll give it a try in the next few days.

[2017-01-04 09:10] #48 closed

[2017-02-10 18:57] jeroenvisser101 opened #50 "Adjust to Github layout change"
Github just changed their top header, rendering the input a little to big input.

![image](https://cloud.githubusercontent.com/assets/1941348/22839764/233b5080-efcb-11e6-9085-85dc8ef74ac9.png)

[2017-02-10 19:05] panoply commented on #50
+1

[2017-02-10 19:29] Shipow commented on #50
noice, we'll fix that quickly! thank you guys.

[2017-02-10 23:48] Mottie opened #51 "Cleared value is restored on blur"
If I start a search, clear the content using the button inside the input, then blur the input.... the search I entered is restored.

![autocomplete](https://cloud.githubusercontent.com/assets/136959/22848236/afd58e2e-efb8-11e6-94a3-57e63d78efc1.gif)

The "aw" was cleared, but is then restored on blur (clicking outside the input).

[2017-02-11 05:08] Shipow commented on #51
thanks for reporting, we'll fix that.

[2017-02-12 19:14] JonasBa opened #53 "Old logo on the intro gif"
![github-awesome-autocomplete_2](https://cloud.githubusercontent.com/assets/9317857/22865228/d0428c68-f15f-11e6-86e5-ba4afa55e8b6.gif)

[2017-02-12 19:15] JonasBa commented on #53
@Shipow should we replace the README.md gif with this one?

[2017-02-12 22:10] Shipow commented on #53
yeah definitely 👍

[2017-02-13 07:15] #53 closed

[2017-02-13 08:19] #50 closed

[2017-02-13 09:24] redox commented on #51
This has been fixed in the latest 1.3.3

[2017-02-13 09:24] #51 closed

[2017-09-04 12:40] adericbourg opened #54 "[Firefox] Upgrade to WebExtensions"
By the end of November 2017, WebExtensions APIs will be the only way to develop Firefox extensions, and the other systems will be deprecated ([see doc](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/What_are_WebExtensions)).

Upgrade the extension to use those APIs to keep the extension working.

[2017-09-08 16:04] treyhuffine opened #55 "Bug with user's name"
Huge fan of this! I've been playing around with it and noticed that some people's names are showing up incorrectly. For example, I search for "Paul Irish" who is one of the most followed people on GitHub, and his name showed up as "DevTools Bot".

<img width="352" alt="screen shot 2017-09-08 at 9 02 17 am" src="https://user-images.githubusercontent.com/11709986/30220535-9c31aea0-9474-11e7-89f6-d99

[2017-09-08 16:06] Haroenv commented on #55
I can reproduce this, something must have gone odd with the crawler

[2017-09-10 13:32] Shipow commented on #55
know bug but we don't know how to fix it yet :/

[2017-09-11 00:56] treyhuffine commented on #55
Thanks for confirming @Shipow

[2017-09-11 06:29] redox commented on #55
Hey everyone, sorry for the delay on my side.

I confirm this is an encoding bug githubarchive.org was experiencing at some point. We cannot do much on our side (since we're only consuming that API), but hope more recent data might override it.

[2017-09-20 01:28] treyhuffine commented on #55
Thanks for tracking that down @redox. Do you know if they're aware? I can try to message them if needed.

[2017-09-20 08:33] redox commented on #55
They are; I originally opened https://github.com/igrigorik/githubarchive.org/issues/60 and the new endpoint is now working OK. But in order to fix wrongly encoded data from the past, we expect the new endpoint to override it (which should be the case as soon as we have events on a specific user/repo)

[2017-09-20 16:09] treyhuffine commented on #55
Cool, thank you! Awesome to hear.

[2017-09-20 16:12] redox commented on #55
You're welcome; will close this issue in the meantime.

[2017-09-20 16:12] #55 closed

[2017-11-03 02:48] theiliad opened #57 "Could one use this same search in a webpage?"
I'm not too familiar with Algolia's **instantsearch.js**, but would I be able to make this same autocomplete for Github say in a React webapp?

[2017-11-03 02:49] theiliad commented on #57
Just the **Top Repositories** and the **Last Active Users** section would be good enough...

[2017-11-03 09:51] Haroenv commented on #57
Sure, as a community project, we'd love to find new usages for this data.

[code]

There's a `top_1m_repos` index, `last_1m_users`, `users` and `repositories`.

If you're using React, feel free to read the documentation at [the website](https://community.algolia.com/react-instantsearch/)

Because this is provided for free, please add a "powered by Algolia" using for example the [`<PoweredBy />`](h

[2017-11-03 09:51] #57 closed

[2017-11-04 04:13] theiliad commented on #57
@Haroenv Just tried this, although this is the first time I'm using Aloglia, it was super easy to get it working 😍

[2017-11-04 16:43] Haroenv commented on #57
Awesome, looking forward to what you built 🔥

[2017-11-07 10:23] #54 closed

[2017-11-07 20:05] rayrutjes opened #60 "Issue vendor name is white and not visible"
![image](https://user-images.githubusercontent.com/5570853/32515123-596af12a-c3ff-11e7-99a6-81741c0c113b.png)

[2017-11-07 20:43] rayrutjes opened #61 "Add a debug mode to the dropdown menu to leave it open"

[2017-11-07 20:44] rayrutjes opened #62 "Add a release script"
Release script should take care of:
- generating changelog
- updating version in info.plist + package.json
- tagging and pushing new tag to github

[2017-11-07 21:00] rayrutjes opened #63 "Remove the current content security policy"
It is the default so it should be removed to not raise any flags.

[2017-11-07 23:37] #60 closed

[2017-11-07 23:37] #62 closed

[2017-11-07 23:37] #63 closed

[2017-11-08 11:48] #61 closed

[2017-11-08 11:49] rayrutjes commented on #61
There is also a clean solution to do this, but it would mean using the latest version of typeahead, and it is a complete re-write so I don't think we want to go there ;)

[2017-11-08 13:02] rayrutjes commented on #42
@shwetank does your offer still stand? 🤓
I just submitted the extension in version 1.5.0.

[2017-11-08 13:05] rayrutjes commented on #30
I think we should not do the move for now.
It would indeed be a problem for the different market places.
Maybe with the client in V4 we could just include the strict minimum required that would not raise an alert during the reviewing processes on the different marketplaces.

[2017-11-08 13:05] #30 closed

[2017-11-08 13:08] #38 closed

[2017-11-08 13:31] rayrutjes commented on #44
Hey @drewda ,

As much as I like the idea, I don't think we want to implement this.

This would require us to expose a search endpoint on our end and hack the opensearch mechanism to add a new plugin to fetch results from there.

If you have a better idea in mind please let us know.

Also, I feel like so far opensearch isn't that used, probably because the UX of the address bar kinda hides this fe

[2017-11-08 13:44] rayrutjes commented on #44
Hmmm, I actually found something worth experimenting, let's leave it open a bit longer 🤓

[2017-11-08 17:11] #44 closed

[2017-11-08 19:20] rayrutjes commented on #8
Hey @davidosomething ,

I know your initial request is pretty old but I'd be interested to know a little more.

There is now a default instantsearch powered by GH itself, so I'm wondering if this still makes sense.

I'm closing this but please do re-open if you think it is still applies.

[2017-11-08 19:20] #8 closed

[2017-11-09 10:25] LukyVj opened #66 "Missing repositories"
Hey well done for the update @rayrutjes 🔥

I have an issue tho, when using it from the chrome status bar, it seems like some repositories are missing.

See here:
![](https://puu.sh/yi7Gz/09d2d3fd57.gif)

[2017-11-09 10:29] rayrutjes commented on #66
Thanks @LukyVj .

Indeed for now private repositories are not available for search from the search bar.

I will take a look to check it this can be done!

[2017-11-10 11:38] rayrutjes opened #67 "Handle empty description for a package"
![image](https://user-images.githubusercontent.com/5570853/32656906-f88977b6-c613-11e7-9025-539e6bf320cb.png)

[2017-11-10 11:40] rayrutjes opened #68 "Support GH emojis"
![image](https://user-images.githubusercontent.com/5570853/32656996-50797f5c-c614-11e7-86b3-9934be8bf5e4.png)

[2017-11-10 11:44] Haroenv commented on #68
the indexer is in Ruby right? https://github.com/github/gemoji could convert them to unicode

[2017-11-10 11:48] rayrutjes commented on #68
You are right @Haroenv this has to be done at indexing time.

[2017-11-10 11:50] #68 closed

[2017-11-13 07:11] eromoe opened #69 "Provide a option change `this repository` to `all repository`"
Hello

I usually not tend to search keyword in `this repository` while I am in a repo.

For example, I am in `github-awesome-autocomplete` report this feature request,  and then  I want to search github notification enhance ,  I have to click github home  icon to home  page to do the search.

[2017-11-13 09:52] rayrutjes commented on #69
Hey @eromoe ,

Thanks for reaching out.

Is it this part you want to change?
![image](https://user-images.githubusercontent.com/5570853/32719375-72e3b154-c860-11e7-8b6e-17e66abb77b1.png)

This feature mimics the default GitHub behaviour.
If you press the return button multiple times however it will remove the current `repository` scope.

Let me know if that is not what you meant.

[2017-11-13 10:11] eromoe commented on #69
I mean  provide a config option to change

![image](https://user-images.githubusercontent.com/3938751/32720265-f8c71580-c89d-11e7-93f5-7cc1b3151c1a.png)

to

![image](https://user-images.githubusercontent.com/3938751/32720261-f2e5e754-c89d-11e7-85e4-6ebf1327e16b.png)

[2017-11-13 10:21] rayrutjes commented on #69
I think I see what you mean.
You are searching for a repo, but don't find a suitable answer in the autocompleted results then you want to submit the request globally and not to the repo only.

I think that makes sense and best would probably be to add a suggestion a second choice of the dropdown.

I don't think we will add "options" for now because it requires more setup but definitely something w

[2017-11-13 17:21] rayrutjes commented on #69
@eromoe what do you think of #70 ? Was that what you had in mind?

[2017-11-13 20:30] sammarcus commented on #44
@rayrutjes this is a really cool new feature, but may I humbly suggest there be a way to disable it? several times a day I run google searches about american airlines ("`aa`") and I'm no longer able to do this from the omnibox without the extension taking over.

or, alternatively, do you know how to redirect text input back to normal, after an extension has control in the omnibox? I've tried hitti

[2017-11-13 20:32] rayrutjes commented on #44
Wow that's unfortunate @sammarcus .
I'll take a look to see what we can do.

[2017-11-13 20:35] sammarcus commented on #44
thank you! I know it's an (extreme) edge case, thanks for your consideration 🙏🏼😇

[2017-11-13 20:44] rayrutjes commented on #44
@sammarcus I went through all chrome settings and it seems to be impossible to either change/override the shortcut nor disable just the omnibox part.

As a workaround, what I can suggest is:
- clone this repo
- edit the `content/chrome.js` file and change the `aa` shortcut to whatever you want (or disable it by removing it)
- install grunt and run `grunt`
- then from `chrome://extensions` enable d

[2017-11-14 00:30] eromoe commented on #69
A little different ,

## Provide Config Option Would be good

Right click `github-awesome-autocomplete` icon

![image](https://user-images.githubusercontent.com/3938751/32756411-dbe92f62-c914-11e7-9627-85731577c30c.png)

the second grey out menu item  is  option.

I would feel better to go into option and choose the behavious of the search box in a repository.

##  Default Search Box Behavious

1.

[2017-11-14 09:34] rayrutjes commented on #69
Hey @eromoe ,

I think that this feature alone does not justify the additional dedicated options page.

Also, our initial idea here was that the default "enter" mimics the GitHub behaviour.
If you want to search globally you could also always start by removing the "This repository" label.

I'll leave this open here to see if more users are interested.

[2017-12-08 23:57] Ich35 opened #71 "uhuhuh"

[2017-12-17 08:44] amjunliang opened #72 "Is not correct"
Is not correct

[2017-12-17 08:44] #72 closed

[2017-12-17 08:45] amjunliang opened #73 "star count Is not correct"
Is not correct

[2017-12-17 11:06] Shipow commented on #73
As we are indexing the activity stream of github, the star count should be updated with any new commit on the repo. Do you have a precise project where the delta is important?

[2017-12-17 11:13] rayrutjes commented on #73
This is a duplicate of #31 .

We will try to fix this, but it is not trivial given we rely on https://www.githubarchive.org/.

[2017-12-17 11:13] #73 closed

[2017-12-17 15:14] Ich35 opened #74 "open"

[2017-12-17 15:17] Ich35 commented on #74
#44

[2017-12-17 15:22] Ich35 opened #75 "inon"

[2017-12-17 15:42] #75 closed

[2017-12-17 15:43] rayrutjes commented on #74
@Ich35 could you add a description and descriptive title to your issues?
Closing this for now.

[2017-12-17 15:43] #74 closed

[2018-02-22 17:06] rayrutjes commented on #69
Solved by #76 .

[2018-02-22 17:06] #69 closed

[2018-03-30 18:56] dcflow opened #78 "Search `This Repository`"
Hello,

Did you guys build the `This Repository` search feature or is it from GitHub?

![fireshot capture 17 - jedwatson_react-select_ a select_ - https___github com_jedwatson_react-select_](https://user-images.githubusercontent.com/6751025/38149856-a77f5dc4-345c-11e8-90d2-96e8d95b8847.png)
It's strange cause it disappeared today.

Thank You!

[2018-03-30 19:30] rayrutjes commented on #78
Hey,

No this is a GitHub feature.
Indeed, it disappeared! hadn't noticed the change myself.

Now we got to re-work our design :/

![image](https://user-images.githubusercontent.com/5570853/38150957-9fe2649e-3461-11e8-9ab4-e4d989ec250c.png)

[2018-03-30 19:33] dcflow commented on #78
Probably it's temporary cause `This organization` works.

[2018-03-30 19:34] #78 closed, assigned to nobody

[2018-03-30 19:34] rayrutjes commented on #78
🤞

Thanks for pinging us in case!

[2018-03-30 19:36] rayrutjes opened #79 "Weird behaviour on the "Press <enter>" vs "Press <Shift+Enter>""
To re-produced:
* type something
* move down with arrows
* 💣

![image](https://user-images.githubusercontent.com/5570853/38151134-4d038e1e-3462-11e8-9631-4b7e1125d739.png)

[2018-04-04 13:49] pixelastic commented on #78
FWIW, "This repository" is back for me.

[2018-04-20 03:48] vilterp opened #80 "Why does it need write permissions on repos?"
Hey there,
This is really cool and I'd like to enable it for my company's repos. However, I'm a little nervous that the GitHub OAuth dialog says it can "read and write all public data". Even though I doubt anything bad would happen, would it be possible to downgrade the permissions to just read? Thanks.

[2018-04-20 07:53] rayrutjes commented on #80
Hello @vilterp ,
Thanks for sharing your concerns.
This extension was developed way before there was a good granularity regarding github repositories permissions.

I will check how we can improve that.

[2018-04-20 08:16] vilterp commented on #80
Thanks @rayrutjes!

[2018-05-15 08:51] amoswzw opened #81 "long user name causes inconsistent format"
![image](https://user-images.githubusercontent.com/16834522/40046544-cd197ed0-585f-11e8-96d2-e19e1d97a824.png)

[2018-05-15 08:55] rayrutjes commented on #81
Thanks for reporting this @wangzewang .
Definitely something that should be adjusted.

[2018-05-15 09:05] Haroenv commented on #81
[code]

not ideal, but couldn't get ellipsis to work

[2018-05-15 09:06] Haroenv commented on #81
some other experimentation with this in more of the classes could help as well:

[code]

[2018-05-24 16:07] Kerumen opened #82 "GitHub's new search bar quick jump"
GitHub just rolled-out a new feature for its search bar:

<img width="382" alt="screen shot 2018-05-24 at 18 04 21" src="https://user-images.githubusercontent.com/5436545/40497694-2c8f876e-5f7d-11e8-9c74-ab55ba82d558.png">

Which leads to interferences with this extension:

<img width="431" alt="screen shot 2018-05-24 at 18 05 18" src="https://user-images.githubusercontent.com/5436545/40497701-324

[2018-05-24 16:12] rayrutjes commented on #82
Yes :/ we will need to do an update to take that feature into account.

[2018-05-29 10:48] Haroenv opened #83 "Wrong user / description combo"
<img width="205" alt="screen shot 2018-05-29 at 12 47 36" src="https://user-images.githubusercontent.com/6270048/40654426-9f8d9d40-633e-11e8-8342-ec5a88a40cc5.png">

---

<img width="262" alt="screen shot 2018-05-29 at 12 47 42" src="https://user-images.githubusercontent.com/6270048/40654427-9fa5421a-633e-11e8-8e26-c2eca8250d00.png">

[2018-06-28 21:49] drewswaycool commented on #82
Why is this closed? It is still an issue and is unrelated to stylish themes.

[2018-06-28 21:49] Haroenv commented on #82
This isn’t closed, still an open issue

[2018-10-11 21:23] matrixik commented on #9
@tlvenn in the mean time you could check astralapp.com they have nice search for starred repos.

[2018-12-22 19:34] kidonng commented on #43
Same problem for renamed repos. It's the only issue with this awesome plugin. @redox @rayrutjes Do you still maintain this project?

[2018-12-23 05:48] rayrutjes commented on #43
Hi @kidonng ,

Thanks for the feedback, we are aware of those issues and we hope to address those early next year.

Thanks for your patience!

[2019-02-18 22:30] macintacos commented on #82
Just wanted to note that this is still a problem; it makes this extension basically unusable because GitHub defaults to using the value in its own searchbar instead of the one in this extension. Workaround for now is to just use the mouse to select the option brought up in the search, like an animal (/s)

[2019-02-19 08:10] rayrutjes commented on #82
Thanks for pushing @macintacos , I'll check internally who could have some time to work on the extension.

[2019-05-10 08:43] CesarDINDELEUX opened #93 "Use it in a personnal app"
Hey guys,

First of all, thanks for this amazing repo. Great work !

I'm building a github data / informations viewer with graph etc ...
Is it possible / hard to use your tool inside my node / VueJS search bar ? I'm not really familiar with Algolia and not really know where to start.

Thanks !

[2019-05-10 09:02] CesarDINDELEUX commented on #93
Ok, I get it, it was SUPER easy to do ! Thanks a lot for your awesome job. You can find a tutorial for VueJS there :
https://www.algolia.com/doc/guides/building-search-ui/getting-started/vue/
and using this searchClient :
searchClient: algoliasearch(
        'TLCDTR8BIO',
        '686cce2f5dd3c38130b303e1c842c3e3'
      )

Then it works flawlessly.

[2019-05-10 09:02] #93 closed, assigned to nobody

[2019-05-13 03:40] Ich35 opened #94 "bp"

[2019-05-13 07:19] #94 closed

[2019-05-13 17:06] Ich35 opened #95 "77"

[2019-05-13 17:11] #95 closed

[2019-09-26 21:30] doza62 opened #96 "Is this still maintained?"
<img width="429" alt="image" src="https://user-images.githubusercontent.com/14064394/65726495-38cff080-e083-11e9-9428-df8331fc42c6.png">

Looks like it isn't when I try to install to safari.

[2019-09-27 08:09] Haroenv commented on #96
The Safari extension isn't maintained anymore indeed, since you now need to make a cocoa app to make a safari extension, which we haven't done yet since nobody asked for it.

The extension itself is open source, so if you're interested in adapting the current code to make it work in newer Safari, PRs definitely welcome!

[2020-01-23 04:14] okor opened #97 "Firefox addon is missing"
When clicking on the link for the Firefox addon, here: https://github.algolia.com/ you get an `Oops! We can’t find that page`.
![Screen Shot 2020-01-22 at 9 11 00 PM](https://user-images.githubusercontent.com/142910/72956130-d8fd0400-3d5b-11ea-92a4-939c6b2cba98.png)

Was the addon intentionally removed? If this project is defunct then it would seem sensible to update the README or simply set the r

[2020-01-23 06:46] rayrutjes commented on #97
Hey @okor,
We need to update the add-on so it is up to date with the latest standards.

Hopefully we can get that done soon.

[2020-03-22 14:14] aindriu80 commented on #97
Looking forward to it.

[2020-04-03 02:46] gregk-git commented on #97
What's the status on this @rayrutjes?

[2020-05-12 20:30] gtallen1187 opened #98 "WARNING: This extension is DEPRECATED, no updates in over 2 years"
While the features and functionality of this browser extension look awesome, the unfortunate reality is that this project is no longer maintained.  The last update was on in Feb of 2018, over two years ago.

Posting this issue so that it sits at the top and potential new users can see this warning message right away.

[2020-06-16 01:28] ax4 commented on #98
Hi, @gtallen1187 Good point! However, I don't think it's deprecated, the source code of it runs stable, but it's just unmaintained from the commit history since Feb 2018 I guess.

Note that, there's some difference between deprecated and unmaintained. The former one is a state defined when the code owner no longer uses a function name or intentionally abandons a project then it could be called dep

[2020-06-16 01:33] ax4 commented on #98
https://github.com/algolia/github-awesome-autocomplete/issues/96#issuecomment-535839350

https://github.com/algolia/github-awesome-autocomplete/issues/97#issuecomment-577529553

Quote:

So I think it cannot be called deprecated. Rather it's just unmaintained but welcome pull requests and forks.

[2020-06-16 07:43] Haroenv commented on #98
That's definitely correct @ax4, it's true that we haven't had time to work on features for it, the chrome version definitely still works, and is used by many people. Anyone who feels like contributing will definitely be taken seriously, but we worked two years ago to make it stable in the long run.

[2020-06-18 03:48] ushuz commented on #43
The project seems abandoned.

[2020-06-18 03:48] #43 closed

[2020-06-29 18:12] pixelastic commented on #98
Is the index still updated regularly?

I can't find my own repositories (tried with https://github.com/pixelastic/firost, https://github.com/pixelastic/aberlaas and https://github.com/pixelastic/norska)

[2020-06-29 18:23] rayrutjes commented on #98
Hi everyone,

Like Haroen said, unfortunately no one is currently maintaining the project.

As a result we might be officially deprecating it in the weeks to come so as to better manage user expectations.

If you know someone that would like to take over from where we stopped, let us know.

[2020-06-29 20:59] pixelastic commented on #98
I might be interested in helping in keeping the index updated and running, depending on the complexity of the project, as it is a very valuable source of information

I'm not interested in maintaining the browser extensions, though.

[2020-06-29 21:14] ax4 commented on #98
I’m also interested in how much work it will take to maintain this project to a longer run. Let me know ☺️

[2020-07-25 14:33] pflegende commented on #97
because the AddOn is realy
a awesome usecase, this question here:
- somebody lucky installing the xpi directly?
-  somebody  find a alternative away in the dark grounds  ;) ....?

[2020-12-01 13:16] tddschn opened #99 "How do I "Connect to GitHub" with OAuth2?"
I didn't find an option that let me do just that. :(

[2020-12-26 07:10] M01O opened #100 "This PR https://github.com/algolia/search-bundle/pull/355 addresses the issue"
This PR https://github.com/algolia/search-bundle/pull/355 addresses the issue

_Originally posted by @sylfabre in https://github.com/algolia/search-bundle/issues/356#issuecomment-738316331_

[2020-12-26 07:10] #100 closed, assigned to nobody

[2021-02-08 23:13] #81 closed, assigned to nobody

[2021-04-14 23:19] vadykoo opened #101 "The chrome extension link doesn't work"
Where I can download the extension?

https://chrome.google.com/webstore/detail/awesome-autocomplete-for/djkfdjpoelphhdclfjhnffmnlnoknfnd?hl=uk

[2021-04-15 11:13] redox commented on #101
hey @vadykoo, the chrome extension has been recently removed from the chromestore because we didn't take the time to update a few new requirements they ask all their extensions to follow.

Until we fix this (not in the near future unfortunately), I would recommend you build the sources and add the extension from [the chrome folder it will generate](https://github.com/algolia/github-awesome-autocom

[2021-04-15 11:14] vadykoo commented on #101
@redox ok, thank you

[2021-04-15 11:14] #101 closed, assigned to nobody

[2021-04-17 11:00] SOURAV-ROY opened #102 "Update This Extension"
### **It's not working anymore ..**

[2021-04-17 11:14] #102 closed, assigned to nobody

[2021-04-19 07:35] Haroenv commented on #102
This is a duplicate of https://github.com/algolia/github-awesome-autocomplete/issues/101 unfortunately

[2021-04-19 08:18] SOURAV-ROY commented on #102
Thanks for your kind information

[2021-04-25 19:53] Boscop commented on #98
I just saw that the extension disappeared from Chrome, and when I checked, I saw this. Any idea why chrome says it violates the policy?

![image](https://user-images.githubusercontent.com/535593/116007560-9a19c600-a610-11eb-8ab0-abe61d0dc929.png)

[2021-04-26 07:13] Haroenv commented on #98
It was removed from the chrome web store since we didn't update some metadata. Unfortunately we haven't had time to check exactly what's wrong, but you can definitely run the extension manually by downloading the source files here

[2021-04-26 12:21] Boscop commented on #98
Maybe what's wrong is related to permissions that are asked but not used?
At least that seems to have caused the same warning for the module linker extension:
https://github.com/fiatjaf/module-linker/issues/60#issuecomment-826395693